html{
  font-size: 14px;
  
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

.Header {
    font-size: 30px;

   

}

.container-fluid {
    background-image: url(gold.jpeg);
    height: 100px;
    background-repeat: unset;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top:0px;
    
}
.icon {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:125px;
}
  



.navbar-link{
    text-align:center;

}





body {
    margin-bottom: 0px;
    color: #333;
    padding-top: 85px;
    font-family: Georgia;
}

a:hover {
    background-color: #ae9762;
    cursor:pointer;
    text-align:center;
    border-radius:15px;
}
a:active {
    text-decoration-line:underline;
}
a::after{
    text-decoration-line: underline;
}


.nav-item{
    margin-top:20px;
    border:ridge;
    border-block:thick;
    
}


.containerf {
    padding: 10px;
    font-size: 17px;
    color: #000000;
    text-align: center;
    background-color: goldenrod;
    border-top: .05rem solid #e5e5e5;
    margin-bottom: 0%;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 30px;
}

.btnreg{
    
    font-size:medium;
}

.button1 {
    padding: 7%;
    margin-left: 425px;
   
}
.button2 {
    
    margin-left:532px;
}

.heads{

    text-align:center;
    color:goldenrod;
    margin-bottom:25px;
}

.btn2{
    
    margin-left:450px;
    padding-inline:15px;
    padding-block:13px;
    font-weight:bold;
    place-content:center;
    text-decoration-line:none;
    
}

.bg{
    background-image:url(marble.jpg);
}



.regvehicle{
   text-align:center;
}